section
  h1 Statically typed <mark>JS</mark>
  h3 was undefined
  small by Viktor Kuroljov

section
  section
    h3 Flow.js
    a(href="https://flow.org/") flow.org

  section
    h3 Flow Examples
    a(href="https://github.com/kuroljov/flow-examples") kuroljov/flow-examples

  section
    h3 Hero Club
    a(href="https://github.com/kuroljov/Hero-Club") kuroljov/Hero-Club

  section
    h3 Slides
    a(href="https://kuroljov.github.io/statically-typed-js-was-undefined/") statically-typed-js-was-undefined

section
  h1 Thx
