section
  h1 Statically typed <mark>JS</mark>
  h3 was undefined
  small by Viktor Kuroljov

section
  h3 Why & What

section
  section
    h3 Dynamic Type System
    h1.fragment Is Bad
  section
    img(src="hit.png")
  section
    img(src="hit-call.png")

section
  section
    h1 How we want
  section
    img(src="hit-flow.png")
  section
    img(src="hit-flow-call.png")

section
  section
    h1 Tests !== docs

section
  h3 Flow
  ul
    li Static Type Checker
    li Need to delete type annotations afterwards (babel)
    li Config eslint to work
    li OCaml Based
    li By Facebook

section
  h3 TypeScript
  ul
    li Transpiler
    li Feels like C#
    li By Microsoft

section
  section
    h1 Examples
    h3 That fit in 14 LOC
  section
    img(src="sum-flow.png")
  section
    img(src="first-flow.png")
  section
    img(src="el-flow.png")
  section
    img(src="time-flow.png")
  section
    img(src="hero-flow.png")
  section
    img(src="api-flow.png")
  section
    img(src="map-flow.png")

section
  h3 Getting started
  a(href="https://flow.org/en/docs/install/") flow.org/en/docs/install

section
  h1 Thx
